<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="headerCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="Library Management" href="/">Library Management</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right bootcards-nav-secondary">



                <li ng-if="!loggedInUser">
                    <a href="/signup">
                        <i class="fa fa-fw fa-lock"></i>
                        Sign Up
                    </a>
                </li>
                <li ng-if="!loggedInUser">
                    <a href="/login">
                        <i class="fa fa-fw fa-lock"></i>
                        Login
                    </a>
                </li>

                <li ng-if="loggedInUser.admin">
                    <a href="/issuedbooks">
                        <i class="fa fa-fw "></i>
                        Issued Books
                    </a>
                </li>

                <li ng-if="loggedInUser.admin">
                    <a href="/admin">
                        <i class="fa fa-fw "></i>
                        Stock
                    </a>
                </li>

                <li ng-if="loggedInUser">
                    <a ng-click="logout()">
                        <i class="fa fa-fw fa-lock"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>