<%- include header.ejs %>
<div class="wrapper">


    <div class="col-md-12" ng-controller="signUpCtrl">

        <div class="container-body" style="padding:20px;margin:20px">


            <form name="createAccountForm" novalidate ng-submit="!createAccountForm.$valid||addUser()">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 align="center">Sign Up </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email" ng-required="true"
                                   ng-blur="checkEmail=true" >
                        </label>

                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.email.$error.required && submitted==true">
                            <label class="control-label">Email is required</label>
                        </div>
                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.email.$invalid && checkEmail==true">
                            <label class="control-label">Invalid Email</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="password" class="form-control" name="password" placeholder="password" ng-model="user.password" ng-required="true"
                                   ng-minlength="6">
                        </label>

                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.password.$error.required && submitted==true">
                            <label class="control-label">Password is required</label>
                        </div>
                        <div class="form-group has-error has-feedback">
                            <label class="control-label" ng-show="createAccountForm.password.$error.minlength">Password should contain atleast 6 characters</label>

                            <!--<p ng-show="passwordAltest2Number">Password should contain atleast 2 numbers</p>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="text" class="form-control" name="name" placeholder="name" ng-model="user.name" ng-required="true">
                        </label>

                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.name.$error.required && submitted==true">
                            <label class="control-label">Name is required</label>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="course" class="form-control" name="course" placeholder="course" ng-model="user.course" ng-required="true">

                        </label>

                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.course.$error.required && submitted==true">
                            <label class="control-label">Course is required</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <label class="item item-input">
                            <input type="phone" class="form-control" name="phone" placeholder="phone" ng-model="user.phone" ng-required="true" numbers-only>

                        </label>

                        <div class="form-group has-error has-feedback" ng-show="createAccountForm.phone.$error.required && submitted==true">
                            <label class="control-label">phone is required</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 text-center">

                        <button  class="btn btn-primary" ng-click="submitted=true">Sign Up</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">


                        <div class="form-group has-error has-feedback" ng-if="signUpError">
                            <label class="control-label">Username Exists</label>
                        </div>

                    </div>
                </div>
            </form>

    </div>
    <!-- End Content -->


</div><!--/End Wrapepr-->